.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
}

.header{  
  flex-basis: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #212b39;
  padding-left: 1rem;
  font-size: 1.3rem;
}
